.HeroShowcaseText {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.HeroShowcaseTitle {
  font-size: 56px;
  font-weight: 800;
  line-height: 95%;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}
.HeroShowcaseParagraph {
  font-size: 18px;
  line-height: 1.625;
}

.HeroShowcaseCta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ButtonContainer {
  width: 50%;
}
