form {
  width: 600px;
  background-color: #36393f;
  padding: 45px 35px !important;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: auto;
}

.nameSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  & > * {
    width: 100%;
  }
}

.exitedUser {
  color: #079eda;
  font-size: 14px;
  margin-top: -7px;
  cursor: pointer;
  width: fit-content;
  &:hover {
    text-decoration: underline;
  }
}
