form {
  width: 600px;
  background-color: #36393f;
  padding: 55px 35px !important;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: auto;
}

.nameSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  & > * {
    width: 100%;
  }
}
